
---

import JavaScript from '../components/icons/JavaScript.astro'
import React from './icons/React.astro'

const TAGS = {
  JAVASCRIPT: {
    name: 'JavaScript',
    class:'bg- text-white',
    icon: JavaScript
  },
  REACT: {
    name: 'React',
    class:'bg-black text-white',
    icon: React
  }
}

const PROJECTS = [
  {
    title: "GifExpertApp",
    description: "Una app de busqueda de gifs ",
    link: "https://raulgambalonga.github.io/gift-expert2-app/",
    github: "https://github.com/RaulGamBalonga/gift-expert2-app",
    image: "/public/projects/gifExpertApp.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full  text-sm ${tag.class} py-2 px-`} >
              <tag.icon class=" size-6"/>
              {tag.name}
              </span>
            </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}


<!-- 2 horas y 10 minutos -->